/neoforge/build/
/forge/build/
/fabric/build/
/common/build/
/build/
/fabric/runs/
/neoforge/run/
*build
*run
*runs
/.gradle/
/.idea/
/neoforge/.gradle/
/forge/.gradle/
/fabric/.gradle/
/common/.gradle/
